.room-selection-button {
  height: 40px;
}

.room-selection-link {
  margin-bottom: 10px;
}

.room-selection {
  display: flex;
  flex-grow: 1;
}

.rooms {
  display: flex;
  flex-direction: column;
}

.panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.actions {
  display: flex;
  flex-direction: column;
}